# Cloudflare FLUX API
CF_ACCOUNT_ID=
CF_API_TOKEN=

# Pinata IPFS API
PINATA_API_KEY=
PINATA_SECRET_API_KEY=

# Server_REACT_API(local -> localhost:3000/server -> publicip:port)
REACT_APP_API_URL=

# Google Gemini API
GOOGLE_API_KEY=

# Serper API
SERPER_API_KEY=

# Ethereum/Hardhat
CONTRACT_ADDRESS=
PRIVATE_KEY=
